sqlalchemy==2.0.35
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.32.3
filterpy==1.4.5
numpy==2.1.1
APScheduler==3.10.4
watchdog==5.0.2
spotipy==2.24.0
cryptography==43.0.1
anthropic==0.36.0
life360==7.2.0
